Package: com.i0stweak3r.foldercontroller
Name: FolderControllerXI
Depends: mobilesubstrate, preferenceloader, firmware (>= 10.3), com.creaturesurvive.libcscolorpicker
Version: 1.0.5
Architecture: iphoneos-arm
Description: An awesome folder tweak for making custom layouts, adjusting the opacity, corner radius, colors, and other properties of folders, their icons, and background views. Also has color pickers for open and closed folders, their border color, and can set thickness of borders.
Maintainer: i0s_tweak3r
Author: i0s_tweak3r
Section: Tweaks
Homepage: http://twitter.com/brianvs
