Package: com.i0stweak3r.foldercontroller
Name: FolderControllerXI-Deluxe
Depends: mobilesubstrate, preferenceloader, firmware (>= 11.0), com.creaturesurvive.libcscolorpicker
Architecture: iphoneos-arm
Description: An awesome folder tweak for making custom layouts, adjusting the opacity, size, corner radius, gradient colors, and other properties of folders, their icons, and background views. It has color pickers for open and closed folders, their border color, and can set thickness of borders. Multi-select option for fast re-arranging of icons plus other useful features.
Maintainer: i0s_tweak3r
Author: i0s_tweak3r
Section: Tweaks
Homepage: http://twitter.com/brianvs
Version: 1.0.7-36
Installed-Size: 1648
