<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>height</key>
			<integer>64</integer>
			<key>label</key>
			<string>Official Reddit jailbreak forum:</string>
			<key>subtitle</key>
			<string>/r/jailbreak</string>
			<key>url</key>
			<string>https://reddit.com/r/jailbreak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>EMAIL_SUPPORT_HEADER</string>
		</dict>
		<dict>
			<key>action</key>
			<string>hb_sendSupportEmail</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>label</key>
			<string>EMAIL_SUPPORT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Tweak developed by iOs_tweak3r, copyright 2018-2019, except for lCSColorPicker by CreatureSurvive, and CepheiPrefs by Hashbang Productions. Additional contributions made by IndieDevKB.</string>
			<key>label</key>
			<string>DEVELOPERS</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>i0s_tweak3r</string>
			<key>user</key>
			<string>BrianVS</string>
		</dict>
		<dict>
			<key>big</key>
			<true/>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>IndieDevKB</string>
			<key>user</key>
			<string>IndieDevKB</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Big thanks to everyone who helped with the localizations. If you would like to improve a translation, or add a new one, contact me on Twitter @BrianVS.</string>
			<key>label</key>
			<string>TRANSLATORS</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Spanish</string>
			<key>user</key>
			<string>PONCE54958</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Italian</string>
			<key>user</key>
			<string>grisu1970</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Arabic</string>
			<key>user</key>
			<string>_lxxiil</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>Russian+German</string>
			<key>user</key>
			<string>googltranslate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Add My Repo To Cydia.</string>
			<key>url</key>
			<string>https://cydia.saurik.com/api/share#?source=http://i0s-tweak3r-betas.yourepo.com/</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Want more options to pimp out your iDevice? A huge update of Stylish11 is now available in all of Cydia.</string>
			<key>label</key>
			<string>Stylish11 fully updated for iOS 12!</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBPackageTableCell</string>
			<key>label</key>
			<string>Stylish11</string>
			<key>packageIdentifier</key>
			<string>com.i0stweak3r.stylish11</string>
		</dict>
	</array>
	<key>title</key>
	<string>ABOUT</string>
</dict>
</plist>
