<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>70</integer>
			<key>icon</key>
			<string>FolderController@3x.png</string>
			<key>label</key>
			<string>FolderControllerXI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Turns on the tweak. Turn off to reset all changes to original values.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable tweak</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable to adjust how transparent folders look once opened.  </string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>floatyOpacityEnabled</string>
			<key>label</key>
			<string>Adjust open folder opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjust opacity of background of open folders.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>80</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>floatyOpacity</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable to change opacity of closed folders, how they appear as icons. Respring needed to take affect.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>folderIconOpacityEnabled</string>
			<key>label</key>
			<string> Closed folder opacity</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjust white alpha of  folder icons.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>70</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>folderIconOpacityWhite</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjust color alpha of folder icons.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>70</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>folderIconOpacityColor</string>
			<key>max</key>
			<integer>100</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable to change corner radius of folders. Respring needed to take affect for folder icons. NOTE: closed folder radius changes do not work if using Snowboard. </string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>iconCornerRadiusEnabled</string>
			<key>label</key>
			<string>Custom corner radiuses</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjust closed folders (folder icons) corner radius from 0 being squared and 28-30 being circular. (Doesn’t work if using Snowboard theme engine.)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>10</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>iconCornerRadius</string>
			<key>max</key>
			<integer>30</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjust corner radius for open folder backgrounds. iOS 11 ONLY feature. Will add lower versions soon.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>38</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>backgroundFolderRadius</string>
			<key>max</key>
			<integer>80</integer>
			<key>min</key>
			<integer>0</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Options for how to close folders. Tap allows you to tap anywhere, pinch to close uses pinch gesture outside of folder to close it. (Pinch requires respring)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsTapToClose</string>
			<key>label</key>
			<string>Tap to close</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsPinchToClose</string>
			<key>label</key>
			<string>Pinch to close</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Options to adjust appearance of title and the home screen blur/ background behind an open folder. No resprings needed.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>hidesTitle</string>
			<key>label</key>
			<string>Hide title when folder open</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>noFX</string>
			<key>label</key>
			<string>No blur (iOS 11)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>reducedTransOn</string>
			<key>label</key>
			<string>Dark background (iOS 11)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Set custom number of rows and columns in open folders. Affects all folders. Should update immediately, if not hit "Apply changes".</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>customLayout</string>
			<key>label</key>
			<string>Custom folder layouts</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjust slider to set custom max number of rows inside open folders.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>3</integer>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>customRows</string>
			<key>max</key>
			<integer>7</integer>
			<key>min</key>
			<integer>2</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Set custom number of columns inside folder.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>3</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>customColumns</string>
			<key>max</key>
			<integer>7</integer>
			<key>min</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Allows use of sliders to tweak insets inside open folders. (Relative to original insets for layout)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsCustomInsets</string>
			<key>label</key>
			<string>Enable custom insets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts top icon inset. Negative values reduce inset, positive make them bigger. </string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>topInset</string>
			<key>max</key>
			<real>0.98999999999999999</real>
			<key>min</key>
			<real>-0.98999999999999999</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts side icon insets. Negative values reduce insets, positive make them bigger.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>sideInset</string>
			<key>max</key>
			<real>0.98999999999999999</real>
			<key>min</key>
			<real>-0.98999999999999999</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Adjusts bottom icon inset. Negative values reduce inset, positive makes them bigger.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>bottomInset</string>
			<key>max</key>
			<real>0.98999999999999999</real>
			<key>min</key>
			<real>-0.98999999999999999</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Allows folder in folder. Make sure "tap to close" option is off or you won't be able to open folder inside folder. BETA option. So far only works on iOS 7-9. Partially on 10+11. Working on it still.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.i0stweak3r.foldercontroller-prefsreload</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SRSwitchTableCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.i0stweak3r.foldercontroller</string>
			<key>key</key>
			<string>wantsNested</string>
			<key>label</key>
			<string>Nested folders(beta)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply changes</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tweak created by:</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>29</integer>
			<key>icon</key>
			<string>i0s_tweak3r.png</string>
			<key>label</key>
			<string>i0s_tweak3r</string>
		</dict>
		<dict>
			<key>action</key>
			<string>twitter</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>@BrianVS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings improved by:</string>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>height</key>
			<integer>29</integer>
			<key>icon</key>
			<string>IndieDevKB.png</string>
			<key>label</key>
			<string>IndieDevKB</string>
		</dict>
		<dict>
			<key>action</key>
			<string>indieDevTwitter</string>
			<key>alignment</key>
			<integer>2</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>@IndieDevKB</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
		<string>If you fimd this tweak useful, please consider a donation. It took a long time and effort to make.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>Paypal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>Paypal@2x.png</string>
			<key>label</key>
			<string>Donations much appreciated</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTextCell</string>
			<key>label</key>
			<string>More improvements coming soon.</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
